


/* Nav Styling */

.header {
    display: flex;
    height: 4em;
    padding: 1em;
    background-color: var(--clr-nav);
    align-items: center;
    width: 100%;
    color: var(--clr-white);
}

.header__logo img{
    max-height: 3em;
}

.header__nav{
    right: 0;
    margin-left: auto;
}

.header__nav__list{
    display: flex;
    list-style: none;
    gap: 1em;
    height: 100%;   

}

.header__nav__list li a{
   all: unset;
   cursor: pointer;

}